<footer>
    <div class="footer-container">
      <div class="footer-columna1">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        </div>
      <div class="footer-columna2">
        <h1>contáctanos</h1>
        <p>Recibe las ultimas actualizaciones sobre nuestros productos y promociones</p>
        <div class="suscripcion">
          <input type="email" placeholder="tu correo electronico" required>
        </div>
        <div class="redes-sociales">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          </div>
      </div>
      <div class="footer-columna3">
        <ul>
            <li><a href="#">Categoria 1</a></li>
            <li><a href="#">Categoria 2</a></li>
            <li><a href="#">Categoria 3</a></li>
            <li><a href="#">Categoria 4</a></li>
        </ul>
        </div>
    </div>
  </footer>