<header>
    <div class="contenedor-header">
        <div class="logo">
            <img src="/img/DRONSAR_PROP-10.svg" width="90px" alt="Logo">
        </div>

        <nav class="menu-principal">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="search-bar">
            <input type="search" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="iconos-usuario-carrito">
            <a href="login"><i class="fas fa-user"></i></a>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>

    <div class="menu-hamburguesa">
        <i class="fas fa-bars"></i>
    </div>
</header>