<header class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="img/logo-DronsAR.png" alt="Logo" style="width: 150px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="productosDropdown">
                    <a class="dropdown-item" href="#">Submenú 1</a>
                    <a class="dropdown-item" href="#">Submenú 2</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <div class="icons d-none d-lg-flex ml-auto">
            <a href="#" class="icon">
                <i class="fas fa-search"></i>
            </a>
            <a href="/login" class="icon">
                <i class="fas fa-user"></i>
            </a>
            <a href="/carrito-compra" class="icon" id="icon-carrito">
                <i class="fas fa-shopping-cart">
                    <span class="badge badge-light">3</span>
                </i>
            </a>
        </div>
        <div class="d-lg-none">
            <div class="icons-mobile text-center mt-3">
                <a href="#" class="icon">
                    <i class="fas fa-search"></i>
                </a>
                <a href="#" class="icon">
                    <i class="fas fa-user"></i>
                </a>
                <a href="#" class="icon" id="icon-carrito">
                    <i class="fas fa-shopping-cart">
                        <span class="badge badge-light">3</span>
                    </i>
                </a>
            </div>
        </div>
    </div>
</header>
