
<%- include('partials/head') %>

<body>
   
    <%- include('partials/header') %>

    <main>
        <section class="main-section">
            <div class="columna-main-1">
                <p>Párrafo de ejemploo</p>
                <h1>Título</h1>
                <button>Comprar Ahora <i class="fas fa-chevron-right"></i></button>
                <div class="puntos-slider">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="columna-main-2">
                <img src="/img/imagen-principal.png" alt="Imagen">
            </div>
        </section>

        <section class="categorias">
            <div class="categoria">
                <img src="imagen1.jpg" alt="Categoría 1">
                <h2>Categoría 1</h2>
            </div>
            <div class="categoria">
                <img src="imagen2.jpg" alt="Categoría 2">
                <h2>Categoría 2</h2>
            </div>
            <div class="categoria">
                <img src="imagen3.jpg" alt="Categoría 3">
                <h2>Categoría 3</h2>
            </div>
            <div class="categoria">
                <img src="imagen4.jpg" alt="Categoría 4">
                <h2>Categoría 4</h2>
            </div>
            <div class="categoria">
                <img src="imagen5.jpg" alt="Categoría 5">
                <h2>Categoría 5</h2>
            </div>
            <div class="categoria">
                <img src="imagen6.jpg" alt="Categoría 6">
                <h2>Categoría 6</h2>
            </div>
        </section>


        <h1>Productos Destacados</h1>
        <section class="productos-destacados">
            <div class="producto">
                <img src="/img/fondo.jpg" alt="Producto 1">
                <h3>Producto 1</h3>
                <p>$100</p>
                <button>Comprar</button>
            </div>
            <div class="producto">
                <img src="/img/fondo.jpg" alt="Producto 2">
                <h3>Producto 2</h3>
                <p>$150</p>
                <button>Comprar</button>
            </div>
            <div class="producto">
                <img src="/img/fondo.jpg" alt="Producto 3">
                <h3>Producto 3</h3>
                <p>$120</p>
                <button>Comprar</button>
            </div>
        </section>

        <h1>Nuestros Productos</h1>
        <section class="productos">
            <div class="product">
                <img src="/img/d1.png" alt="Producto 1">
                <h3>Producto 1</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>

            <div class="product">
                <img src="/img/d1.png" alt="Producto 2">
                <h3>Producto 2</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="/img/d1.png" alt="Producto 3">
                <h3>Producto 3</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="/img/d1.png" alt="Producto 4">
                <h3>Producto 4</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="/img/d1.png" alt="Producto 5">
                <h3>Producto 5</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="/img/d1.png" alt="Producto 6">
                <h3>Producto 6</h3>
                <p>$100</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <button class="add-to-cart">Agregar al carrito</button>
            </div>
        </section>

        <%- include('partials/footer') %>
        

    </main>



</body>

</html>