<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f0f0f0;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      color: #333;
      font-size: 2em;
      margin-top: 50px;
    }
    p {
      color: #666;
      font-size: 1.2em;
    }
    img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>¡Página no encontrada!</h1>
    <p>No podemos encontrar la página que buscas.</p>
    <p>Intenta regresar a la <a href="/">página de inicio</a></p>
    <img src="/img/pngwing.com.png" alt="Error 404">
  </div>
</body>
</html>