body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}


/**/
/* Estilos para el header y el menú */
header {
  z-index: 999;
  background: linear-gradient(to right, #9acfe4, #bccbdf); /* Fondo con gradiente */
  backdrop-filter: blur(10px); /* Difuminar el fondo detrás del header */
  color: #000; /* Asegurarse de que el texto en el header sea negro para contraste */
}

header .navbar-nav .nav-link {
  color: #000; /* Cambiar el color del texto del enlace a negro */
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 20px;
}

/* Añadir más espacio entre los ítems del menú */
header .navbar-nav .nav-item {
  margin: 0 25px; /* Aumentar el margen horizontal entre los ítems */
}

header .navbar-nav li a {
  color: #000 !important;
}

header .navbar-nav li a:hover {
  color: #F55264 !important;
}

/* Estilos para el botón del menú hamburguesa */
.navbar-toggler {
  color: #000 !important;
  border: none; /* Eliminar el borde del botón */
  background: black; /* Fondo negro para el botón */
}

.navbar-toggler-icon {
  color: #fff; /* Color blanco para el ícono del botón hamburguesa */
}

/* Estilos para los íconos */
.icons {
  display: flex;
  align-items: center;
}

.icon {
  color: #000; /* Cambiar el color del ícono a negro */
  font-size: 20px;
  margin: 0 10px;
  position: relative;
}

.icon .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f00;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Estilos para el menú responsive */
@media (max-width: 991px) {
  header {
    padding: 10px 20px;
  }
  .icons {
    display: flex; /* Mostrar íconos en el modo escritorio */
  }
  .icons-mobile {
    display: none; /* Ocultar íconos móviles por defecto */
  }
  .navbar-collapse {
    padding: 20px; /* Ajustar el padding en el menú desplegable */
  }
  .navbar-nav {
    flex-direction: column; /* Alinear los enlaces del menú en columna */
    width: 100%; /* Hacer que el menú ocupe todo el ancho */
  }
  .navbar-nav .nav-item {
    margin: 10px 0; /* Ajustar el margen entre los elementos del menú */
  }
  .navbar-collapse.show .icons-mobile {
    display: flex; /* Mostrar íconos móviles cuando el menú está desplegado */
    justify-content: center; /* Centrar los íconos */
    margin-top: 20px; /* Ajustar el margen superior */
  }
}

@media (max-width: 600px) {
  .section-main h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

  

/*estilos portada principal*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 150px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #002c3e;
    line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #f7444e;
}

.slider_section .detail-box p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 12px 45px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
}

/* con imagen
.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}
*/

.slider_section {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #9acfe4, #bccbdf);
  width: 100%;
}

.slider_section {
  position: relative;
  overflow: hidden;
}

.slider_bg_box img {
  position: absolute; /* Cambiado de fixed a absolute */
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  width: 500px;
  height: auto;
}


    /*
    .slider_bg_box img {
        display: none;
    } 
    
/*fin portada principal*/


/* Comienzo  categorias*/

.categoria-heading h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}

.categoria-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}

#categoria {
  margin-top: 90px;
  padding-bottom: 90px;
}

#categoria .col-2 {
  padding-left: 0;
  padding-right: 0;
}

#categoria .images {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

#categoria .thumb {
  position: relative;
}

#categoria .thumb .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.85);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#categoria .thumb:hover .icon {
  opacity: 1;
  visibility: visible;
}

#categoria .thumb .icon h6 {
  color: #fff;
  position: absolute;
  font-size: 14px;
  bottom: 40px;
  font-weight: 400;
  left: 15px;
}

#categoria .thumb .icon i {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#categoria .thumb img {
  width: 100%;
  overflow: hidden;
}


/* fin categorias */


  /*comienzo banner*/

  .productos-destacado-heading h2 {
    font-size: 34px;
    font-weight: 700;
    color: #2a2a2a;
  }
  
  .productos-destacado-heading span {
    font-size: 14px;
    color: #a1a1a1;
    font-style: italic;
    font-weight: 400;
  }

  /*fin banner*/



/*estilos nuestros productos*/

.product {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (max-width: 991.98px) {
    .product {
      margin-bottom: 30px; } }
  .product .img-prod {
    position: relative;
    display: block;
    overflow: hidden; }
    .product .img-prod .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: 0;
      background: #ffa45c;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .product .img-prod span.status {
      position: absolute;
      top: 10px;
      left: -1px;
      padding: 2px 15px;
      color: #000000;
      font-weight: 300;
      background: #ffa45c; }
    .product .img-prod img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .product .img-prod:hover img, .product .img-prod:focus img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
  .product .img {
    display: block;
    height: 500px; }
  .product .icon {
    width: 60px;
    height: 60px;
    background: #fff;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .product .icon span {
      color: #000000; }
  .product:hover .icon {
    opacity: 1; }
  .product:hover .img-prod .overlay {
    opacity: .3; }
  .product .text {
    background: #fff;
    position: relative;
    width: 100%; }
    .product .text h3 {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px; }
      .product .text h3 a {
        color: #000000; }
    .product .text p.price {
      margin-bottom: 0;
      color: #000000;
      font-weight: 400; }
      .product .text p.price span.price-dc {
        text-decoration: line-through;
        color: #b3b3b3; }
      .product .text p.price span.price-sale {
        color: #000000; }
    .product .text .pricing, .product .text .rating {
      width: 50%; }
    .product .text .bottom-area {
      position: absolute;
      top: -65px;
      left: 0;
      right: 0;
      opacity: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .product .text .bottom-area a {
        color: #000000;
        width: 100%;
        background: #fff; }
      .product .text .bottom-area a.add-to-cart, .product .text .bottom-area a.buy-now {
        font-size: 13px;
        color: #000000;
        text-transform: uppercase;
        font-weight: 300; }
        .product .text .bottom-area a.add-to-cart i, .product .text .bottom-area a.buy-now i {
          font-size: 16px; }
      .product .text .bottom-area a.add-to-cart {
        background: #000000;
        color: #fff; }
        .product .text .bottom-area a.add-to-cart:hover {
          background: #ffa45c;
          color: #fff; }
      .product .text .bottom-area a.buy-now {
        background: #fff;
        color: #000000; }
        .product .text .bottom-area a.buy-now:hover {
          background: #ffa45c;
          color: #fff; }
      @media (max-width: 991.98px) {
        .product .text .bottom-area {
          opacity: 1; } }
  .product:hover {
    -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07); }
    .product:hover .text .bottom-area {
      opacity: 1; }

.product-details h3 {
  font-size: 30px;
  font-weight: 400; }

.product-details .price span {
  font-size: 30px;
  color: #000000; }

.product-details button i {
  color: #000000; }

.product-details .quantity-left-minus {
  background: transparent;
  padding: 0 15px; }

.product-details .quantity-right-plus {
  background: transparent;
  padding: 0 15px; }

.product-details button, .product-details .form-control {
  height: 40px !important;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #ffa45c;
  padding: 10px 20px;
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px; }
  .product-details button:hover, .product-details button:focus, .product-details .form-control:hover, .product-details .form-control:focus {
    text-decoration: none;
    outline: none; }

.product-details .form-group {
  position: relative; }
  .product-details .form-group .form-control {
    padding-right: 40px;
    color: #000000;
    background: transparent !important; }
    .product-details .form-group .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #4d4d4d; }
    .product-details .form-group .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #4d4d4d; }
    .product-details .form-group .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #4d4d4d; }
    .product-details .form-group .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #4d4d4d; }
  .product-details .form-group .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000000; }
    .product-details .form-group .icon span {
      color: #000000; }
    @media (max-width: 767.98px) {
      .product-details .form-group .icon {
        right: 10px; } }
  .product-details .form-group .select-wrap {
    position: relative; }
    .product-details .form-group .select-wrap select {
      font-size: 13px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-transform: uppercase;
      letter-spacing: 2px; }
    
      .text-right {
        text-align: right !important; }

    .rating i {
        color: #ffc107; /* Color amarillo para las estrellas */
    }

/**/

  /*Comienzo footer*/

  /*-------------------------------------
    News-letter
--------------------------------------*/
.custom-container {
  padding-left: 25px;
  padding-right: 25px;
}

.newsletter{
  padding:120px 0 75px;
  background-color: #222934 !important;
}

.hm-footer-widget{margin-bottom: 30px;}
.hm-foot-title h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 45px;
}
.hm-foot-menu ul li a {
    color: #a09e9c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.hm-foot-menu ul li a:hover{
    color: #e99c2e;
    -webkit-transform:translateX(10px);
    -moz-transform:translateX(10px);
    -ms-transform:translateX(10px);
    -o-transform:translateX(10px);
    transform:translateX(10px);
}
.hm-foot-para p {
    color: #fff;
    font-size: 14px;
    text-transform: initial;
    margin-bottom: 25px;
}

/*email*/
.hm-foot-email{position: relative;}
.foot-email-box .form-control {
    background:#fff;
    display: block;
    padding:25px 15px;
    outline:0!important;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    border:0;
}
.foot-email-box input[type="text"]{
    font-size: 14px;
    color: #bcb7b2;
}
.foot-email-subscribe {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    color: #e99c2e;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-email-box .form-control:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.4);
}
/*fin email*/


/*-------------------------------------
   Footer
--------------------------------------*/
.footer {
    background: #f8f9fd;
    display: flex;
    align-items: center;
    height: 154px;
}
.hm-footer-copyright p,.hm-footer-copyright p a {
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
}
.footer-social a i {
    color: #a4aaaf;
    margin: 0 18px 24px 0;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}
.footer-social i:hover{color: #e99c2e;}


  /*Fin footer*/


  /*Pagina detalle productos*/

  #portada-backgound {
    background-color: #B1CCE0 !important;
}

.section_padding {
  padding: 100px 0px;
}

@media (max-width: 576px) {
  /* line 587, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text {
    margin-top: 30px;
  }
}

/* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  /* line 601, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text h5 {
    margin-bottom: 15px;
  }
}

/* line 619, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h5 span {
  margin: 0 10px;
}

/* line 624, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
}

/* line 631, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff3368;
  margin-bottom: 15px;
}

/* line 639, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li {
  margin-bottom: 5px;
}

/* line 642, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #555555;
}

/* line 648, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span {
  width: 90px;
  display: inline-block;
}

/* line 652, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a span:hover {
  color: #555;
}

/* line 657, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active {
  color: #ff3368;
}

/* line 660, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li a.active span {
  color: #555;
}

/* line 666, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .list li:last-child {
  margin-bottom: 0px;
}

/* line 672, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text p {
  padding-top: 20px;
  border-top: 1px dotted #d5d5d5;
  margin: 20px 0;
}

/* line 679, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .main_btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 686, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn {
  margin-right: 10px;
  background: #f6f6f6;
  border-radius: 3px;
  color: #2a2a2a;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  padding: 0px 13px;
  font-size: 14px;
}

/* line 697, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .icon_btn:hover {
  background: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}

/* line 1988, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
}

/* line 1993, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .card_area .product_count input {
  border: 0px solid transparent;
  text-align: center;
}

/* line 1999, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count {
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 12px 15px;
}

/* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .product_count .input-number {
  display: inline-block;
  width: 60px;
}

@media (max-width: 576px) {
  /* line 2007, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text .product_count .input-number {
    width: 30px;
  }
}

/* line 2024, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .Wishlist {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 3162px;
  z-index: 365;
}

/* line 2032, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .like_us {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3);
  width: 50px;
  height: 50px;
  line-height: 56px;
  color: #7f7f7f;
  text-align: center;
}

.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #ff3368;
  border: 1px solid #ecfdff;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #ff3368;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_3:hover {
  background-color: red;
  color: #fff;
}


/* line 2042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.s_product_text .btn_3 {
  margin-left: 5px;
  margin-right: 5px;
  padding: 13px 36px;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
  border: 1px solid #ff3368;
}

@media (max-width: 576px) {
  /* line 2042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .s_product_text .btn_3 {
    padding: 13px 20px;
  }
}


/*menu detalle producto - descripcion, especificaciones...*/
/* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area {
  padding-bottom: 120px;
  margin-top: 60px;
}

@media (max-width: 991px) {
  /* line 761, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area {
    margin-top: 0px;
    padding-bottom: 70px;
  }
}

/* line 771, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs {
  display: block;
  border: none;
  padding: 10px 0px;
}

/* line 776, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li {
  display: inline-block;
  margin-right: 7px;
}

/* line 780, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li:last-child {
  margin-right: 0px;
}

/* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a {
  padding: 0px;
  border: none;
  line-height: 38px;
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding: 0px 30px;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: normal;
  border-radius: 50px;
}

@media (max-width: 991px) {
  /* line 784, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
  .product_description_area .nav.nav-tabs li a {
    padding: 0px 20px;
    margin-bottom: 10px;
  }
}

/* line 803, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .nav.nav-tabs li a.active {
  background: #ff3368;
  color: #fff;
  border-color: #ff3368;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}

/* line 813, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content {
  padding-top: 30px;
}

/* line 818, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total {
  background: #ecfdff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dddddd;
}

/* line 824, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h4 {
  color: #ff3368;
  font-size: 48px;
  font-weight: bold;
}

/* line 830, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h5 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 24px;
}

/* line 836, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .box_total h6 {
  color: #2a2a2a;
  margin-bottom: 0px;
  font-size: 14px;
  color: #797979;
  font-weight: normal;
}

/* line 845, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list {
  margin-bottom: 30px;
}

/* line 848, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list h3 {
  font-size: 18px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 858, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a {
  font-size: 14px;
  color: #797979;
}

/* line 862, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li a i {
  color: #fbd600;
}

/* line 870, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
  color: #eeeeee;
}

/* line 881, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table {
  margin-bottom: 0px;
}

/* line 886, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 14px;
  padding-bottom: 14px;
}

/* line 892, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr td h5 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #797979;
  margin-bottom: 0px;
  white-space: nowrap;
}

/* line 903, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.product_description_area .tab-content .table tbody tr:first-child td {
  border-top: 0px;
}


/* line 915, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item {
  margin-bottom: 35px;
}

/* line 918, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item:last-child {
  margin-bottom: 0px;
}

/* line 922, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  color: #797979;
}

/* line 926, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media {
  position: relative;
}

/* line 929, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .d-flex {
  padding-right: 15px;
}

/* line 933, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body {
  vertical-align: middle;
  align-self: center;
}

/* line 937, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h4 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

/* line 945, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body i {
  color: #fbd600;
}

/* line 949, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body h5 {
  font-size: 13px;
  font-weight: normal;
  color: #797979;
}

/* line 955, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn {
  border: 1px solid #e0e0e0;
  padding: 0px 28px;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;
  position: absolute;
  right: 0px;
  top: 14px;
}

/* line 968, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item .media .media-body .reply_btn:hover {
  background: #ff3368;
  border-color: #ff3368;
  color: #fff;
}

/* line 977, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item p {
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 982, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_item.reply {
  padding-left: 28px;
}

/* line 988, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box h4 {
  font-size: 24px;
  color: #2a2a2a;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 995, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box p {
  margin-bottom: 0px;
  display: inline-block;
  font-weight: 500;
}

/* line 1001, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1006, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li {
  display: inline-block;
}

/* line 1009, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .list li a {
  display: inline-block;
  color: #fbd600;
}

/* line 1016, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .form-control {
  height: 50px;
  border-radius: 0;
}

/* line 1020, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box ::placeholder {
  font-size: 14px;
}

/* line 1023, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .btn_3 {
  padding: 13px 39px;
}

/* line 1026, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.review_box .contact_form {
  margin-top: 15px;
}

/* End Single Product Area css
============================================================================================ */
/* Cart Area css
============================================================================================ */
/* line 1042, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table {
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

/* line 1048, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #797979;
  border-bottom: 0px !important;
}

/* line 1061, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}

/* line 1068, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .d-flex {
  padding-right: 30px;
}

/* line 1071, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

/* line 1077, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}

/* line 1081, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .media .media-body p {
  margin-bottom: 0px;
}

/* line 1087, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

/* line 1094, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count {
  margin-bottom: 0px;
}

/* line 1097, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count input {
  width: 100px;
  padding-left: 30px;
  height: 40px;
  outline: none;
  box-shadow: none;
}

/* line 1105, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase {
  top: -2px;
}

/* line 1108, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase:before {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  left: -3px;
  top: 0px;
  background: #eeeeee;
}

/* line 1118, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .increase:after {
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  left: -3px;
  top: 22px;
  background: #eeeeee;
}

/* line 1129, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr td .product_count .reduced {
  bottom: -6px;
}

/* line 1136, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button .gray_btn {
  line-height: 38px;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 1149, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td:last-child {
  width: 60px;
}

/* line 1153, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text {
  margin-left: -446px;
}

/* line 1156, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input {
  width: 200px;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-right: -3px;
  outline: none;
  box-shadow: none;
}

/* line 65, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input.placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 68, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input:-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 71, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input::-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 74, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_mixins.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text input::-webkit-input-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/* line 1178, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text .main_btn {
  height: 40px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0px 38px;
  margin-right: -3px;
}

/* line 1186, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
  padding: 0px 40px;
}

/* line 1195, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
  vertical-align: top;
}

/* line 1200, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box {
  margin-left: -250px;
  text-align: right;
}

/* line 1205, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
  margin-bottom: 12px;
}

/* line 1208, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
  margin-bottom: 0px;
}

/* line 1212, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
  padding-right: 30px;
  font-size: 14px;
  color: #797979;
  position: relative;
}

/* line 1218, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:before {
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 1231, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff3368;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

/* line 1248, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .list li.active a:after {
  opacity: 1;
}

/* line 1256, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
  font-size: 14px;
  font-weight: normal;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1264, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
  color: #797979;
  padding-left: 5px;
}

/* line 1270, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
  display: block;
  width: 100%;
  background: #ecfdff;
  border: 1px solid #ecfdff;
  height: 40px;
  margin-bottom: 20px;
}

/* line 1279, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
  width: 100%;
  border-radius: 0px;
}

/* line 1283, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list li {
  font-size: 14px;
  font-weight: normal;
  color: #797979;
}

/* line 1291, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.shipping_area .shipping_box input {
  height: 40px;
  outline: none;
  background: #ecfdff;
  border: 1px solid #ecfdff;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
}

/* line 1305, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
  margin-left: -388px;
}

/* line 1308, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .main_btn {
  height: 40px;
  padding: 0px 30px;
  line-height: 38px;
  text-transform: uppercase;
}

#portada-backgound,
.product_image_area,
.product_description_area {
    width: 100%;
    max-width: 100%;
}
@media (max-width: 768px) {
  #portada-backgound,
  .product_image_area,
  .product_description_area {
      width: 100%;
  }
}

.row.s_product_inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-7,
.col-xl-7,
.col-lg-5,
.col-xl-4 {
  max-width: 100%;
}

@media (max-width: 768px) {
  .row.s_product_inner {
      flex-wrap: wrap;
  }

  .col-lg-7,
  .col-xl-7,
  .col-lg-5,
  .col-xl-4 {
      width: 100vw;
      max-width: 100vw;
  }
}

@media (max-width: 700px) {
  ul.lSPager,
  ul.lSGallery {
    display: block !important;
  }
}

/* line 1321, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_product.scss */


/* End Cart Area css
============================================================================================ */

/*productos relacionados*/

#producto-relacionado{
  padding-top: 20px;
}

  /*Fin pagina detalle productos*/

